
#logo {
  margin-top: 10px;
  border-radius: 10px;
  width: 90px;
  margin-top: 70px;
  margin-left: 15px;
}

#logo2 {
  margin-top: 10px;
  border-radius: 10px;
  width: 60px;
}

#heading {
  color: white;
  text-align: left;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
}

#topnav {
  background-color: #3D434C;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  text-decoration: none;
  font-size: 20px;
  list-style-type: none;
  width: 100%;
  border: 1px solid #e7e7e7;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  }

#topnav :hover {
  color: green;
}

#socialpic {
  width: 210px;
  height: 200px;
  margin-left: 67.5em;
  margin-top: -12em;
  border-radius: 5px;
}

#Iphone {
  height: 425px;
  width: 480px;
  width: center;
  margin-top: -340px;
  float: right;
}

 .description {
   color: green;
   font-family: 'Cabin', sans-serif;
   font-size: 40px;
   text-align: left;
   font-weight: bold;
   margin-left: 2em;
 }

 .description2{
   color: gray;
   font-family: 'Cabin', sans-serif;
   margin-left: 3em;
   font-size: 25px;
   font-weight: bold;
   text-align: left;
 }

 .description3{
   color: white;
   font-family: 'Cabin', sans-serif;
   margin-left: 3em;
   font-size: 25px;
   font-weight: bold;
   text-align: left;
 }

 .footer {
  background-color: #3D434C;
  text-align: center;
  bottom: 0;
  width: 100%;
  left: 0;
  position: fixed;
 }

 body {
  background: url("https://upload.wikimedia.org/wikipedia/commons/e/e2/Social_media.png");
  background-position: center;
  background-repeat: no-repeat;
 }

 h1 {
   text-align: center;
   font-size: 50px;
 }

 form {
  color: blue;
  height: 20px;
 }
