.signIn {
  /* margin-right: 250px; */
  /* margin-top: -250px; */
  /* float: right; */
  text-align: center;
  display: inline-block;
  flex-shrink: 1;
  height: 55px;
  width: 360px;
  border-style: : solid;
  /* border-radius: 250px; */
  background-color: black;
  opacity: .80;
  flex-basis: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
    background: url("https://upload.wikimedia.org/wikipedia/commons/e/e2/Social_media.png");
    background-position: center;
}
