
#logo {
  margin-top: 10px;
  border-radius: 10px;
  width: 90px;
}

#heading {
  color: Green;
  text-align: left;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
}

#topnav{
  background-color: #3D434C;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  text-decoration: none;
  font-size: 20px;
  list-style-type: none;
  position: sticky;
  width: 100%;
  border: 1px solid #e7e7e7;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  }

#topnav :hover {
  color: green;
}

#socialpic {
  width: 300px;
  height: 175px;
  border-radius: 20px;
  margin-left: 5em;
}

 .description {
   color: green;
   font-family: 'Cabin', sans-serif;
   font-size: 40px;
   text-align: left;
   font-weight: bold;
   margin-left: 2em;
 }

 .description2{
   color: gray;
   font-family: 'Cabin', sans-serif;
   margin-left: 4em;
   font-size: 20px;
   font-weight: bold;
 }

 .footer {
  background-color: #3D434C;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  left: 0;
 }

 body {
  background: url("https://upload.wikimedia.org/wikipedia/commons/e/e2/Social_media.png");
  background-position: center;
  background-repeat: no-repeat,repeat;
 }

 h1 {

 }

 form {
  color: blue;
  height: 20px;
 }
