.create {
  float: left;
  display: inline-block;
  height: 100px;
  width: 50px;
  margin-left: 250px;

}

.signIn {
  margin-right: 475px;
  margin-top: auto;
  float: right;
  text-align: center;
  display: inline-block;
  height: 100px;
  width: 50px;
  border-style: : solid;
  border-radius: 250px;
}

.input{
  width: 260px;
  height: 35px;
}

#conpass{
  border-style: solid;
  border-color: white;
  border-radius: 0px 0px 15px 15px;
}

#first {
  border-style: solid;
  border-color: white;
  border-radius: 15px 15px 0px 0px;
}

#email {
  border-style: solid;
  border-color: white;
  border-radius: 15px 15px 0px 0px;
}

#password {
  border-style: solid;
  border-color: white;
  border-radius: 0px 0px 15px 15px;
}

#signIn {
  font-size: 60px;
  font-family: 'Cabin', sans-serif;
  color: white;
}

h1 {
  margin-left: 165px;
  font-size: 60px;
  font-family: 'Cabin', sans-serif;
  color: white;
}
h2 {
  margin-left: 35px;
  font-size: 60px;
  font-family: 'Cabin', sans-serif;
  color: white;
  width: 200px;
  text-align: center;
}

input[type="submit"] {
  margin-top: 20px;
}

input[type="radio"] {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  break-before: always;
}

::placeholder {
  text-align: center;
  color: grey;
  opacity: .8;
  font-size: 15px;
  font-family: 'Cabin', sans-serif;
}
