body{
  margin: 0,auto;
}
#title{
  text-align: center;
  color: white;
  font-size: 20px;
}
h1 {
  font-size: 60px;
  font-family: 'Cabin', sans-serif;
  color: white;

  margin-left: 20px;
  margin-top: 10px;
}

button{
  margin: 0, auto;
}

input[type="email"] {
  margin: 0 auto;
  width: 260px;
  height: 35px;
  border-style: solid;
  border-radius: 50px;

}
::placeholder {
  text-align: center;
  color: black;
  opacity: 1;
  font-size: 15px;
  font-family: 'Cabin', sans-serif;

}

input[type="password"] {
  margin: 0 auto;
  width: 260px;
  height: 35px;
  border-radius: 50px;
}

input[type="name"] {
  margin: 0 auto;
  width: 260px;
  height: 35px;
  border-radius: 50px;
}
form {
  margin-left: 250px;
  margin-top: 10px;
}
