.create {
  margin-left: 375px;
  margin-bottom: 0px;
  opacity: .80;
  flex-shrink: 1;
  flex-basis: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
}

.grid {
  display: flex;
  grid-template-columns: 66% 33%;
}

.input{
  width: 360px;
  height: 55px;
}

::placeholder {
  text-align: center;
  color: grey;
  opacity: .8;
  font-size: 15px;
  font-family: 'Cabin', sans-serif;
}

.button {
  height: 100px;
  width: 100px;
}

#first {
  border-style: solid;
  border-color: white;
  border-radius: 15px 15px 0px 0px;
  border-bottom-color: gray;
  text-align: center;
  font-size: 15px;
}

#last {
  border-style: solid;
  border-color: white;
  border-bottom-color: gray;
  text-align: center;
  font-size: 15px;
}

#userName {
  border-style: solid;
  border-color: white;
  border-bottom-color: gray;
  text-align: center;
  font-size: 15px;
}

#email {
  border-style: solid;
  border-color: white;
  border-bottom-color: gray;
  text-align: center;
  font-size: 15px;
}

#password {
  border-style: solid;
  border-color: white;
  border-color: white;
  border-bottom-color: gray;
  text-align: center;
  font-size: 15px;
}

#conpass{
  border-style: solid;
  border-color: white;
  border-radius: 0px 0px 15px 15px;
  text-align: center;
  font-size: 15px;
}


body {
  background: url("https://upload.wikimedia.org/wikipedia/commons/e/e2/Social_media.png");
  background-position: center;
}

h1 {
  margin-left: 255px;
  margin-top: 75px;
  font-size: 80px;
  font-family: 'Cabin', sans-serif;
  color: white;
}

input[type="email"] {
  margin-top: 0px;
}

input[type="button"]{
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 height: 55px;
 width: 365px;
 border-style: solid;
 border-radius: 0px 0px 15px 15px;
 border-color: grey;
 color: white;
 background-color: grey;
 font-size: 15px;
 font-family: 'Cabin', sans-serif;
}

input[type="submit"]{
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 height: 55px;
 width: 365px;
 border-style: solid;
 border-radius: 15px 15px 0px 0px;
 border-color: grey;
 margin-top: 20px;
 color: white;
 background-color: grey;
 border-bottom-color: white;
 font-size: 15px;
 font-family: 'Cabin', sans-serif;
}
input[type="submit"]:active{
  background-color: white;
  color: grey;
  border-color: white;
}
input[type="button"]:active{
  background-color: white;
  color: grey;
  border-color: white;
}
