body {
  background: white;
  opacity: .80;
  width: 300px;
  height: 440px;
  margin: 0 auto;
  /* border-style: solid;
  border-color: rgb(26, 13, 171); */
  margin-top: 100px;
  padding: 50px 25px 50px 25px;
  border-radius: 40px;
}
input[type=text]:focus {
    width: 250px;
    color: yellow;
}
html {
  margin: 0px;
  background: url("https://s-media-cache-ak0.pinimg.com/originals/c3/e8/9f/c3e89f4dafaf9b0a87ec3c82ebea5591.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 60px;
  font-family: 'Cabin', sans-serif;
  color: rgb(26, 13, 171);
  text-align: center;
  margin-top: 0px;
}
img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 50%;
}
input[type="email"] {
  background: grey;
  width: 260px;
  height: 10px;
  border: 0;
  padding: 20px;
  font-size: 18px;
  margin-right: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

input[type="password"] {
  background: grey;
  width: 260px;
  height: 10px;
  border: 0;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 18px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
input[type="submit"] {
  background: red;
  color: white;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 15px;
  text-align: center;
  width: 300px;
  height: 50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.textInput {

}
