<!DOCTYPE html>
<html>
  <head>
    <title>SOC-CO</title>
    <div id="title">
      <img src="LogoSample_ByTailorBrands.jpeg" alt="logo">
      <h1>SOC-CO</h1>
    </div>
     <link rel="stylesheet" type="text/css" href="app-stylesheets/signIn.css">
  <div id="topnav">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="{{signIn}}"><input type="button" value="Sign In" class="input" id="submit"></a>
  </div>
  </head>
  <body>
    <p class="description">QUICK LINKS FOR SOCIAL <br> MEDIA CONNETIONS</p>
    <p class="description2">We help create smart links that ease <br> the process of
       finding connection through social media.</p>

<img src="https://ak1.picdn.net/shutterstock/videos/24187111/thumb/7.jpg" alt="socialedia">

    </body>
</html>
