<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="app-stylesheets/signIn.css">
  </head>
  <body>
    <div id="title">
      <h1>Create Account</h1>
    </div>

    <form method=POST>
            <div class="signIn">
              <h2>Sign In</h2>
                <input type="email" placeholder="email" name="user-email" class="input" id="email">
                <input type="password" placeholder="password" name="user-password" class="input" id="password"><br>
            </div>
          </div>
        </form>
    {{signIn}}

  </body>
</html>
